.background-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  left: 0;
}

.background-left {
  background: url('../../Images/Warehouse.png') no-repeat center;
  background-size: cover;
  background-position-x: left;
  width: 100%;
  flex: 1 1 50%;
}

.background-right {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
  padding: 30px;
  flex: 1 1 50%;
  box-sizing: border-box;
}

.logo {
  background-image: url('../../Images/logo.png');
  background-size: contain;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  max-width: 35rem;
  height: auto;
  aspect-ratio: 46.625 / 15.781;
  margin-top: 5rem;
  z-index: 1;
  text-align: center;
}

.text-container {
  text-align: center;
  margin-top: 1.5rem;
  display: block;
}

.background-left h1,
.background-left h2 {
  margin: 0 4rem;
  padding: 0.625rem;
  color: #eeeded;
  position: relative;
  z-index: 1;
  text-align: center;
}

.background-left h1 {
  font-size: 3.438rem;
}

.background-left h2 {
  font-family: bold;
  font-size: 2.813rem;
  margin-left: 30px;
}

.login-form-container {
  width: 100%;
  max-width: 50%;
  padding: 1.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  margin-bottom: 0.938rem;
  width: 100%;
  max-width: 21rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.icon {
  position: absolute;
  left: 5%;
  top: 72%;
  transform: translateY(-50%);
  color: hsl(0, 2%, 62%);
  z-index: 1;
}

.input-container input {
  padding-left: 2.5rem;
  margin-bottom:0.5rem;
}

.input-container label {
  display: block;
  margin-bottom: 0.625rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.label p {
  margin: 0;
}

input[type="email"],
input[type="password"] {
  padding: 0.625rem 2.7rem;
  font-size: 1rem;
  border: 0.0625rem solid #bab6b6;
  width: 100%;
  max-width: 80%;
  border-radius: 0.625rem;
  font-family: 'Times New Roman', Times, serif;
}

button {
  padding: 0.625rem 2.7rem;
  font-size: 1rem;
  background: linear-gradient(to right, #2D3142 90%, #EF8354);
  color: white;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  width: 80%;
  max-width: 22.5rem;
  margin-right: 3rem;
}

.label {
  padding-right: 100%;
  font-family: 'Times New Roman', Times, serif;
}

/* Media Queries */
@media (max-width: 768px) {
  .background-left,
  .background-right {
    width: 100%;
    flex: 1 1 100%;
  }

  .background-left h1 {
    font-size: 2rem;
    margin: 0 1rem;
  }

  .background-left h2 {
    font-size: 1.5rem;
    margin: 0 1rem 0 1rem;
  }

  .login-form-container {
    height: auto;
    padding: 1rem;
  }

  .input-container {
    width: 100%;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .background-left h1 {
    font-size: 1.5rem;
  }

  .background-left h2 {
    font-size: 1.25rem;
  }

  .input-container {
    width: 100%;
  }

  input[type="email"],
  input[type="password"] {
    padding: 0.5rem 1.5rem;
  }

  button {
    padding: 0.5rem 1.5rem;
  }
}
