.dashboard-container {
  padding: 20px;
  background-color: #fff;
  width: 90%;
  max-width: 75rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 2%;
  align-items: center;
  margin-right: 15rem;

}

.dropdown-container {
  margin-top: 1%;
  color: #ff4d4d;
  margin-left: 10rem;
}

.dropdown {
  background-color: #ef8354;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.dashboard-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.dashboard {
  text-align: center;
}

.gauges {
  display: flex;
  justify-content: space-around;
}

.gauge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  max-width: 200px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  cursor: pointer;
  position: relative; /* Added to position star button */
  margin-right: 1rem;
}

.gauge-container h3 {
  margin-bottom: 10px; /* Space between gauge label and gauge chart */
}

.gauge-container .star-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
  margin-top: 10px;
  position: absolute;
  top: 10px;
  right: 25px;
}

.gauge-container .star-button.favorite {
  color: gold;
}

/* Modal Styles */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.control-button,
.close-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
}

.close-button {
  background-color: #ff4d4d;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .dashboard-container {
    width: 90%;
    margin: 0 auto;
  }

  .dashboard-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .gauge-container {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    width: 95%;
  }

  .gauge-container {
    width: 100%;
  }
}
