.dashboard-container {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2%;
  align-items: center;
  overflow-x: auto; /* Add horizontal scroll */
}

.dashboard-container h2 {
  margin-right: 72rem;
  padding-bottom: 2rem;
  margin-top: 0px;
}

.dropdown-container {
  margin-top: 1%;
  color: #ff4d4d;
}

.dropdown {
  background: #2d3142;
  background-color: #ef8354;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.dashboard-wrapper {
  display: flex;
  gap: 20px;
  justify-content: flex-start; /* Align items to the start for horizontal scroll */
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 10px 0; /* Add padding for better spacing */
}

.gauges {
  display: flex;
  flex-wrap: nowrap; /* Ensure gauges do not wrap to a new line */
  width: calc(45% - 1rem); /* Adjusted width calculation with margin */
  max-width: 400px; /* Increase max-width for larger screens */
}

.gauge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: calc(45% - 1rem); /* Adjusted width calculation with margin */
  max-width: 300px; /* Increase max-width for larger screens */
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  cursor: pointer;
  position: relative; /* Added to position star button */
  margin-right: 20px; /* Increased margin for better spacing */
}

.gauge-container h3 {
  margin-bottom: 10px; /* Space between gauge label and gauge chart */
}

.gauge-container .star-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: gold;
  margin-top: 10px;
  position: absolute;
  top: 10px;
  right: 80px;
  max-width: 0.01rem;
}
.delete-button-sensor {
  background: none;
  color: #2d3142;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  position: absolute;
  top: 0px;
  margin-left: 12rem;
  max-width: 0.1rem;
}
.delete-button {
  background: none;
  color: #2d3142;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-top: 15rem;
  position: absolute;
  top: 0px;
  max-width: 0.1rem;
}
.delete-factory-button {
  margin-left: 74%;
  width: 12rem;
  margin-top: 2%;
}

.Asset-Select {
  border-radius: 10%;
  width: 50%;
  height: 10%;
}
.gauge-container .star-button.favorite {
  color: gold;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .gauge-container {
    width: calc(45% - 1rem); /* Adjusted width for tablets */
    max-width: 250px; /* Decrease max-width for smaller screens */
  }
}

@media (max-width: 768px) {
  .gauge-container {
    width: calc(50% - 1rem); /* Adjusted width for smaller tablets */
    max-width: 300px; /* Increase max-width for tablets */
  }
}

@media (max-width: 480px) {
  .gauge-container {
    width: calc(100% - 1rem); /* Full width for mobile screens */
    max-width: 100%; /* Ensure gauges take full width on small screens */
    margin-right: 0; /* Remove margin for better spacing */
  }
}

/* Modal Styles */
.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.control-button,
.close-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
}

.close-button {
  background-color: #ff4d4d;
}

.add-factory-button {
  width: 12rem;
  margin-top: 0%;
}

.asset-button {
  width: 12rem;
  margin-top: 1rem;
}

.form-inputText {
  width: 92%;
  padding: 8px;
  border-radius: 0.5rem;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .dashboard-container {
    padding: 15px;
  }
}

@media (max-width: 1024px) {
  .dashboard-container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .dashboard-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .gauge-container {
    width: 80%;
    max-width: 100%;
  }

  .dropdown-container {
    margin-right: auto;
    width: 90%;
    max-width: 75rem;
  }

  .add-factory-button,
  .Asset-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .dashboard-container h2 {
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    width: 95%;
    padding: 10px;
  }

  .gauge-container {
    width: 100%;
    max-width: 100%;
  }
}
