.Container {
  max-height: 100vh;
  width: 100%;
  overflow-y: auto;
  margin-left: 265px; /* Add margin to accommodate the sidebar */
  margin-top: 4%;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  background-color: antiquewhite;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  
 
}

.column-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-height: 80%;
}
.column-1 {
  width: 100%;
  display: flex;
}

/* Responsive styles */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    margin-left: 0;
    height: auto;
  }

  main {
    width: 100%;
    padding: 10px;
  }

  .row {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .home {
    flex-direction: column;
    margin-left: 0;
    height: auto;
  }

  main {
    width: 100%;
    padding: 5px;
  }

  .row {
    flex-direction: column;
    gap: 5px;
  }
}
