/* src/pages/Home/Home.css */
.home {
  display: flex;
  height: 100vh;
  overflow-y: auto;
  margin-left: 250px; /* Add margin to accommodate the sidebar */
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  background-color: antiquewhite;
  width: calc(100% - 250px); /* Adjust width to account for the sidebar */
}

.column {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    margin-left: 0;
    height: auto;
  }

  main {
    width: 100%;
    padding: 10px;
  }

  .column {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .home {
    flex-direction: column;
    margin-left: 0;
    height: auto;
  }

  main {
    width: 100%;
    padding: 5px;
  }

  .column {
    flex-direction: column;
    gap: 5px;
  }
}
