/* src/components/Searchbar/Searchbar.css */

.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.searchbar {
  display: flex;
  align-items: center;
  background-color: #f8faff;
  padding: 5px 15px;
  border-radius: 25px;
  flex-grow: 1;
  margin-right: 20px;
}

.search-icon {
  color: #a3a3a3;
  margin-right: 10px;
}

.searchbar input {
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  color: #333;
  flex-grow: 1;
}

.SearchBarShapes {
  display: flex;
  align-items: center;
}

.search-shape {
  color: #ef8354;
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}

.search-shape:hover {
  color: #a3a3a3;
}

/* Responsive styles */
@media (max-width: 768px) {
  .searchbar-container {
    flex-direction: column;
    align-items: stretch;
    margin-left: 0;
  }

  .searchbar {
    margin-right: 0;
    margin-top: 10px;
  }

  .searchbar input {
    width: 100%;
  }

  .SearchBarShapes {
    justify-content: flex-end;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .searchbar-container {
    padding: 10px;
  }

  .searchbar {
    padding: 5px;
  }

  .search-shape {
    font-size: 16px;
    margin-left: 10px;
  }
}
