.manage-users-container {
  padding: 20px;
  margin-top: 1%;
}

.manage-users-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-table {
  width: 85%;
  border-collapse: collapse;
  margin-left: 14%;
  color: #1d1d1d;
  background-color: antiquewhite;
  
}
.newUser-Button {
  margin-top: 8%;
  margin-left: 10%;
  
}

.user-table th, .user-table td {
  border: 1px solid #0056b3;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #ef8354;
  width: 25%;
}

.modal {
  padding: 20px;
}

.modal-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
}

.form-input, .form-inputText {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

.form-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}
