/* src/components/ManageUsers/ManageUsers.css */

.manage-users-container {
    margin: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .manage-users-heading {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .user-list {
    list-style-type: none;
    padding: 0;
  }
  
  .user-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-list-item button {
    margin-left: 10px;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .modal-heading {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .form-inputText{

    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }
  
  
  .form-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  