/* src/components/Dashboard/Dashboard.css */

.favorites-container {
  padding: 1.6rem;
  background-color: #fff;
  width: 50%;
  max-height: 85%;
  margin-right: 2%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 16%);
  overflow-y: auto;
  margin-top: 8%;
  box-sizing: border-box;
}

.favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 1rem;
}

.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 45%;
  max-width: 200px;
  margin-left: 0.2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.gauges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gauge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  max-width: 200px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .favorites-container {
    width: 100%;
    margin-right: 0;
  }

  .favorites,
  .gauges {
    flex-direction: column;
    align-items: center;
  }

  .switch-container,
  .gauge-container {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .favorites-container {
    width: 100%;
    margin-right: 0;
  }

  .switch-container,
  .gauge-container {
    width: 100%;
    max-width: none;
  }

  .switch {
    width: 40px;
    height: 20px;
  }

  .slider:before {
    width: 14px;
    height: 14px;
  }
}
