/* src/components/Dashboard/Dashboard.css */

.favorites-container {
  padding: 1.6rem;
  background-color: #fff;
  width: 65%;
  max-height: 75%;
  margin-right: 2%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 16%);
  overflow-y: auto;
  box-sizing: border-box;
}

.favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8rem;
  
}



.gauges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(45% - 1rem); /* Adjusted width calculation with margin */
  max-width: 300px; /* Increase max-width for larger screens */
}

.gauge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  max-width: 200px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  width: calc(45% - 1rem); /* Adjusted width calculation with margin */
  max-width: 300px; /* Increase max-width for larger screens */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .favorites-container {
    width: 100%;
    margin-right: 0;
  }

  .favorites,
  .gauges {
    flex-direction: column;
    align-items: center;
  }

  .switch-container,
  .gauge-container {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .favorites-container {
    width: 60%;
    margin-right: 0;
  }

  .switch-container,
  .gauge-container {
    width: 100%;
    max-width: none;
  }

  .switch {
    width: 40px;
    height: 20px;
  }

  .slider:before {
    width: 14px;
    height: 14px;
  }
}
