/* src/App.css */
.App {
    display: flex;
    text-align: center;
  }

.content {
  flex-grow: 1;
  margin-left: 0px; /* Add margin to accommodate the sidebar */
  padding: 0px;
}

.page {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
