/* src/App.css */
.App {
  display: flex;
}

.content {
  flex-grow: 1;
  margin-left: 250px; /* Add margin to accommodate the sidebar */
  padding: 20px;
}

.page {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
