@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/App.css */
.App {
  display: flex;
  text-align: center;
  background-color: antiquewhite;
  height: 100vh;
  flex-direction: row;
}

.SearchBar {
  margin-left: 15.5rem; /* Adjust margin to accommodate expanded sidebar */
  max-width: 85%;
  transition: margin-left 0.3s; /* Add transition for smooth animation */
}

.content {
  flex-grow: 1;
  margin-left: 0; /* Adjust margin to accommodate collapsed sidebar */
  padding: 0px;
  transition: margin-left 0.3s; /* Add transition for smooth animation */
}

.page {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
    height: auto;
  }

  .content {
    margin-left: 0;
    padding: 10px;
  }

  .page {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .App {
    flex-direction: column;
    height: auto;
  }

  .SearchBar {
    margin-left: 0;
    width: 100%;
  }

  .content {
    margin-left: 0;
    padding: 5px;
  }

  .page {
    padding: 5px;
  }
}

/* Sidebar collapsed styles */
.App.collapsed .SearchBar {
  margin-left: 0;
}

.App.collapsed .content {
  margin-left: 0;
}

@layer base {
  *.body {
    @apply font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }
  p,
  span,
  a,
  button,
  label,
  input,
  textarea {
    @apply font-sans;
  }
}
